{
	"root": true,
	"env": {
		"node": true
	},
	"extends": ["plugin:vue/essential", "eslint:recommended"],
	"parserOptions": {
		"parser": "babel-eslint"
	},
	"rules": {
		"no-mixed-spaces-and-tabs": "off",
		"vue/no-parsing-error": [
			2,
			{
				"x-invalid-end-tag": false
			}
		],
		"vue/html-self-closing": "off",
		"no-console": "off"
	}
}
